{% extends "base.html" %}
{% import "macros/cards.html" as cards %}

{% block hero %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            {{site_name}}
        </h1>
        <h2 class="subtitle">
            {{site_subtitle}}
        </h2>
        </div>
    </div>
</section>
{% endblock hero %}

{% block main %}
<div class="columns is-multiline">
    {{ cards.list_cards([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) }}
</div>
{% endblock main %}